<div class="actions">
Pay
</div>

<div class="cart-orders">


<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Total</th>
      <th>Status</th>
      <th>{{t 'actions'}}</th>
    </tr>
  </thead>
  <tbody>


{{#each data}}
<div class="cart-order">
  <tr>
    <td>{{id}}</td>
    <td>{{total}}</td>
    <td>{{status}}</td>
    <td>
      Close and pay
    </td>
  </tr>


</div>
{{else}}
  0 products in this cart
</div>
{{/each}}

    </tbody>
    <tfoot>
      <td colspan="2">
        {{paginate count=metadata.count limit=query.limit currentPage=query.page req=req}}
      </td>
    </tfoot>
  </table>

</div>